# Default ignored files
/shelf/
/.idea/workspace.xml
# Editor-based HTTP Client requests
/httpRequests/
# Datasource local storage ignored files
/dataSources/
/dataSources.local.xml
.idea
*.exe
*.obj
*.pdb
*.ilk
.vscode
*test*.*
/Week 13/20230517/.vs/20230517/v17
